---
---
//_skin
$blue: #3371e3
$light-grey: #f7f7f7
$dark-grey: #303030
$grey: #808080
$light-grey: #cccccc
$ink-black: #424242
$background-color: #fdfdfd
$white: white
$black: black
$color-333: #333
$whitesmoke: whitesmoke
$mono-font: 'Roboto Mono', monospace

// media queries
@import '../_sass/base'
@import '../_sass/tablet'
@import '../_sass/desktop'
