$main-max-width: 1200px
$vendor-strip-height: 44px
$video-section-height: 550px

@media screen and (min-width: 1025px)
	#docsToc
		position: relative
		float: left
		padding: 0 20px
		left: 0
		width: 200px
		z-index: auto

		.push-menu-close-button
			display: none

	#docsContent
		width: calc(100% - 400px)

	#markdown-toc
		right: calc((100% - 1000px)/2)



