{% for current_toc in site.tocs %}
  {% if found_toc %}
    {% break %}
  {% else %}
    {% assign toc=site.data[current_toc] %}
    {% include tocsearch.html tree=toc.toc toc=toc %}
  {% endif %} 
{% endfor %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <section>
      <div class="wrapper">
      <h2>{{toc.bigheader}}</h2>
        <nav class="site-nav" style="float:left">
          <div class="trigger highlight">
		  <a href="/docs/home" {% if toc.bigheader == "Documentation Home" %}class="page-link nc"{% else %}class="page-link"{% endif %}>HOME</a>
		  <a href="/docs/setup/" {% if toc.bigheader == "Setup" %}class="page-link nc"{% else %}class="page-link"{% endif %}>SETUP</a>
		  <a href="/docs/guides/" {% if toc.bigheader == "Guides" %}class="page-link nc"{% else %}class="page-link"{% endif %}>GUIDES</a>
		  <a href="/docs/tasks/" {% if toc.bigheader == "Tasks" %}class="page-link nc"{% else %}class="page-link"{% endif %}>TASKS</a>
		  <a href="/docs/tutorials/" {% if toc.bigheader == "Tutorials" %}class="page-link nc"{% else %}class="page-link"{% endif %}>TUTORIALS</a>
		  <a href="/docs/concepts/" {% if toc.bigheader == "Concepts" %}class="page-link nc"{% else %}class="page-link"{% endif %}>CONCEPTS</a>
		</div>
        </nav>
      </div>
    </section>

    <section  id="encyclopedia" class="wrapper">
  	
        <div id="docsToc">
		<div class="pi-accordion">
          		{% include_cached tree.html tree=toc.toc %}
		</div>
        </div>
	<div id="docsContent">
		<p><a href="{{ site.github_url }}{{ page.path }}" id="editPageButton">Edit This Page</a></p>

		{% unless page.notitle %}
		  <h1>{{ page.title }}</h1>
		{% endunless %}
		{{ content }}
      </div>
	

	</section>

    {% include footer.html %}

<script>

// hide docs nav area if no nav is present, or if nav only contains a link to the current page
(function () {
    window.addEventListener('DOMContentLoaded', init)

        // play nice with our neighbors
        function init() {
            window.removeEventListener('DOMContentLoaded', init)
                hideNav()
        }

    function hideNav(toc){
        if (!toc) toc = document.querySelector('#docsToc')
            var container = toc.querySelector('.container')

                // container is built dynamically, so it may not be present on the first runloop
                if (container) {
                    if (container.childElementCount === 0 || toc.querySelectorAll('a.item').length === 1) {
                        toc.style.display = 'none'
                            document.getElementById('docsContent').style.width = '100%'
                    }
                } else {
                    requestAnimationFrame(function () {
                        hideNav(toc)
                    })
                }
    }
})();
</script>
  </body>

</html>

