{% for current_toc in site.tocs %}
  {% if found_toc %}
    {% break %}
  {% else %}
    {% assign toc=site.data[current_toc] %}
    {% include tocsearch.html tree=toc.toc toc=toc %}
  {% endif %} 
{% endfor %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <section>
      <div class="wrapper">
      <h2>{{toc.bigheader}}</h2>
        <nav class="site-nav" style="float:left">
          <div class="trigger highlight">
		  <a href="/docs/home" {% if toc.bigheader == "Documentation Home" %}class="page-link nc"{% else %}class="page-link"{% endif %}>HOME</a>
		  <a href="/docs/setup/" {% if toc.bigheader == "Setup" %}class="page-link nc"{% else %}class="page-link"{% endif %}>SETUP</a>
		  <a href="/docs/guides/" {% if toc.bigheader == "Guides" %}class="page-link nc"{% else %}class="page-link"{% endif %}>GUIDES</a>
		  <a href="/docs/tasks/" {% if toc.bigheader == "Tasks" %}class="page-link nc"{% else %}class="page-link"{% endif %}>TASKS</a>
		  <a href="/docs/tutorials/" {% if toc.bigheader == "Tutorials" %}class="page-link nc"{% else %}class="page-link"{% endif %}>TUTORIALS</a>
		  <a href="/docs/concepts/" {% if toc.bigheader == "Concepts" %}class="page-link nc"{% else %}class="page-link"{% endif %}>CONCEPTS</a>
		</div>
        </nav>
      </div>
    </section>

    <section  id="encyclopedia" class="wrapper">
  	
        <div id="docsToc">
		<div class="pi-accordion">
          		{% include_cached tree.html tree=toc.toc %}
		</div>
        </div>
	<div id="docsContent">
		{% unless page.notitle %}
		  <h1>{{ page.title }}</h1>
		{% endunless %}
		{{ content }}
      </div>
	

	</section>

    {% include footer.html %}

  </body>

</html>

